.right-sidebar {
    width: 300px;
    overflow-y: auto;
    height: calc(80vh - 80px);
    position: fixed;
    right: 0;
    top: 80px;
  }
  
  .search-bar input {
    border-radius: 20px;
    padding: 0.5rem 1rem;
  }
  