.navbar-desktop {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;
    background-color: var(--yellow-color);
}

.navbar-desktop .nav-link {
    color: white;
}

.dropdown-item:hover {
    background-color: var(--orange-two-color);
    color: white;
}

.nav-link i {
    margin-right: 5px;
}

.dropdown-toggle::after {
    color: var(--yellow-color);
}

.search-button {
    background-color: var(--orange-color);
    color: white;
    border: none;
    border-radius: 0;
}