.container {
    max-width: 600px;
}

.login-container {
    padding-top: 80px;
    height: calc(95vh - 80px);
    overflow-y: auto;
}

.card {
    border-radius: 8px;
}

.btn-primary {
    background-color: var(--orange-two-color);
    border: none;
}