app-left-sidebar,
app-right-sidebar {
  position: fixed;
  top: 80px; 
  height: calc(100vh - 80px); /* Fill remaining viewport height */
  overflow-y: auto; /* Scrollable content */
}

app-left-sidebar {
  left: 0;
  width: 300px;
}

app-right-sidebar {
  right: 0;
  width: 300px;
}

app-feed {
  margin-left: 300px; 
  margin-right: 300px;
}
